<ion-content class="ion-text-center" color="primary">
    <ion-card color="primary">
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-back-button [text]="buttonText" defaultHref="\"></ion-back-button>
            </ion-buttons>
            <ion-title>Dia {{diaEvento.data}}</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="abreAjuda()">
                    <ion-icon color="tertiary" slot="icon-only" name="help-circle"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-card>
    <ion-card color="secondary">
        <img src="..\assets\images\capa_enecamb.png" />
        <ion-card-header>
            <ion-card-title>Atividades do {{diaEvento.ordinal}} dia</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let atividade of atividades" (click)="incluiParticipante(atividade)">
                    <ion-thumbnail slot="start">
                        <img style="max-width: 75%" 
                            *ngIf="atividade.tipoAtividade === 'PALESTRA'" src="https://s3.amazonaws.com/ionic-io-static/JGsvUGPTXmZQq5S9GSLx_148134.svg">
                        <img style="max-width: 75%" 
                            *ngIf="atividade.tipoAtividade === 'OFICINA'" src="https://s3.amazonaws.com/ionic-io-static/H011glZRQYC545S3HM1T_1453880.svg">
                        <img style="max-width: 75%" 
                            *ngIf="atividade.tipoAtividade === 'RODA_DE_CONVERSA'" src="https://s3.amazonaws.com/ionic-io-static/a3BXucDGSxevk7avFO2T_152506.svg">
                    </ion-thumbnail>
                    <ion-label>
                        <h2>{{atividade.titulo}}</h2>
                        <p>{{atividade.hora}}</p>
                        <p>{{atividade.tipoAtividade}} - {{atividade.pacote}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>              
        </ion-card-content>
    </ion-card>
</ion-content>
