<ion-content class="ion-text-center" color="primary">
    <ion-card color="primary">
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-back-button [text]="buttonText" defaultHref="\"></ion-back-button>
            </ion-buttons>
            <ion-title>Participantes</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="abreAjuda()">
                    <ion-icon color="tertiary" slot="icon-only" name="help-circle"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-card>
    <ion-card color="secondary">
        <img src="..\assets\images\capa_enecamb.png" />       
        <ion-card-content> 
            <ion-list>
                <ion-item *ngFor="let participante of participantes"
                    [color]="participante.pacote == 0 ? 'primary' : participante.pacote == 1 ? 'blue' : 'warning' ">
                    <ion-label (click)="editaParticipante(participante)">
                        {{participante.nome}} - {{participante.pacote}}
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
        
    <ion-button [routerLink]="['/cadastro-participante']" expand="block">Cadastrar Participante</ion-button>
</ion-content>
