<ion-header>
  <ion-toolbar>
    <ion-title>VII ENECamb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
            <ion-card-title>Cronograma</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item [routerLink]="['/atividades']">
                  <ion-label>1º Dia - 24/10/2019</ion-label>
                  <ion-icon name="arrow-dropright"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>2º Dia - 25/10/2019</ion-label>
                    <ion-icon name="arrow-dropright"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>3º Dia - 26/10/2019</ion-label>
                    <ion-icon name="arrow-dropright"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>4º Dia - 27/10/2019</ion-label>
                    <ion-icon name="arrow-dropright"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>5º Dia - 28/10/2019</ion-label>
                    <ion-icon name="arrow-dropright"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>6º Dia - 29/10/2019</ion-label>
                    <ion-icon name="arrow-dropright"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>7º Dia - 30/10/2019</ion-label>
                    <ion-icon name="arrow-dropright"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>8º Dia - 31/10/2019</ion-label>
                    <ion-icon name="arrow-dropright"></ion-icon>
                </ion-item>
              </ion-list>              
        </ion-card-content>
      </ion-card>      
</ion-content>
