<ion-content class="ion-text-center" color="primary">
    <ion-card color="primary">
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-back-button [text]="buttonText" defaultHref="\"></ion-back-button>
            </ion-buttons>
            <ion-title>Inscrição</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="abreAjuda()">
                    <ion-icon color="tertiary" slot="icon-only" name="help-circle"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-card> 
    <ion-card color="secondary">
        <ion-card-header class="ion-text-center">
            <img *ngIf="atividade.tipo === 'PALESTRA'" src="https://s3.amazonaws.com/ionic-io-static/JGsvUGPTXmZQq5S9GSLx_148134.svg">
            <img *ngIf="atividade.tipo === 'OFICINA'" src="https://s3.amazonaws.com/ionic-io-static/H011glZRQYC545S3HM1T_1453880.svg">
            <img *ngIf="atividade.tipo === 'RODA_DE_CONVERSA'" src="https://s3.amazonaws.com/ionic-io-static/a3BXucDGSxevk7avFO2T_152506.svg">

            <ion-card-title color="light">{{atividade.titulo}}<br> {{atividade.hora}}</ion-card-title>
            <ion-card-subtitle color="light">
                Convidados: {{atividade.convidados}}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-item lines="none" >
                <ion-label class="ion-text-center" text-wrap color="dark">         
                    {{atividade.descricao}}    
                </ion-label>
            </ion-item>
            <ion-button (click)="scanCode()" expand="block" *ngIf="!participante">
                Ler pulseira do Participante
            </ion-button>
    
            <ion-item-sliding *ngIf="participante">
                <ion-item-options side="start">
                    <ion-item-option color="danger" (click)="exclui(item)">Excluir</ion-item-option>
                </ion-item-options>
            
                <ion-item class="ion-text-center">
                    <ion-label>{{participante.nome}} - {{participante.cpf}}</ion-label>
                </ion-item>
            
                <ion-item-options side="end">
                    <ion-item-option (click)="confirma(item)">Confirmar</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-card-content>
    </ion-card>
   
      
    <ion-button  (click)="abreListaPresenca()" expand="block">
        Lista de Presença Pessoal
    </ion-button>   
</ion-content>
