<ion-content class="ion-text-center" color="primary">
  <form #form="ngForm" (ngSubmit)="cadastra()" method="post" style="height: 100%">
    <ion-grid style="height: 100%">
      <ion-row justify-content-center align-items-center style="height: 100%">

        <ion-card color="secondary">
          <img src="..\assets\images\capa_enecamb.png" />
          <ion-card-header>
            <ion-card-subtitle>
              Para realizar o cadastro e utilizar o aplicativo é preciso fornecer o cpf
              previamente registrado pela comissão coordenadora do evento e criar sua própria senha nos campos abaixo:
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label position="floating" required>CPF</ion-label>
              <ion-input name="cpf" [(ngModel)]="colaborador.cpf"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="floating" type="password" required>Senha</ion-label>
              <ion-input name="senha" [(ngModel)]="colaborador.senha"></ion-input>
            </ion-item>
            <ion-button (click)="cadastra()" expand="block">Salvar</ion-button>
            <ion-button expand="block" [routerLink]="['/entrar']">Entrar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>